discord.py[voice]==2.0.0
python-dotenv==1.0.0
firebase-admin==6.7.0
aiohttp==3.9.1
audioop-lts
Flask==3.0.0
Flask-Dance==7.0.0
requests==2.31.0
python-dateutil==2.8.2
Werkzeug==3.0.1
matplotlib>=3.9.2
numpy>=2.0.0
PyJWT[crypto]==2.9.0
